/* Footer Styles */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #053976;
    height: 50px;
    color: #ffffff;
}

/* Form Logo */

.form-logo {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 12px;
}

/* Dark Mode Button Styles */

.dark-mode-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #053976;
}

.dark-mode-btn button {
    height: 45px;
}